// Manejo de media queries
@mixin mediaquerie($media){
    @media screen and (min-width: $media){
        @content;
    }
}

@mixin max-mediaquerie($media){
    @media screen and (max-width: $media){
        @content;
    }
}