mixin metaTagsWebApp()
  -var mobileColor = '#fff'
  -var favicon = '../img/icons/favicon.png'
  -var logoPNG = '../img/icons/website-logo.png'
  -var logoSVG = '../img/icons/website-logo.svg'
  meta(name="HandheldFriendly", content="true")
  meta(name="MobileOptimized", content="320")
  meta(name="theme-color", content=mobileColor)
  meta(name="msapplication-TileColor", content=mobileColor)
  meta(name="msapplication-TileImage", content=logoSVG)
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="default")
  link(rel="apple-touch-startup-image", href=logoSVG)
  link(rel="icon", type="image/x-icon", href=favicon)
  link(rel="icon", type="image/png", href=logoPNG)
  link(rel="apple-touch-icon", href=logoSVG)