include ./metaTagsWebApp.pug
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../css/style.css")
        +metaTagsWebApp()
        block metaTags
    body
        block content
        script(src="js/script.js")