body{
    overflow-x: none;
    font-family: Arial, Helvetica, sans-serif;
}

// Tamaño de fuentes escalables
$font-ratio: 1.125;
$font-base: 16px;
$font-heading-3: $font-base * $font-ratio;
$font-heading-2: $font-heading-3 * $font-ratio;
$font-heading-1: $font-heading-2 * $font-ratio;
$small-font: $font-base / $font-ratio;
$xtra-small-font: $small-font / $font-ratio;

.h1 {
    font-size: $font-heading-2;
    @include  mediaquerie(1024px){
        font-size: $font-heading-1;
    }
} 

.h2 {
    font-size: $font-base;
    @include mediaquerie(640px){
        font-size: $font-heading-2;
    }
}

.h3 {
    font-size: $small-font;
    @include mediaquerie(640px){
        font-size: $font-base;
    }
    @include mediaquerie(1024px){
        font-size: $font-heading-3;
    }
}

.font-base {
    font-size: $small-font;
    @include mediaquerie(640px){
        font-size: $font-base;    
    }
}

.small-font{
    font-size: $small-font;
    @include mediaquerie(320px){
        font-size: $font-heading-3;
    }
    @include mediaquerie(640px){
        font-size: $font-heading-2;
    }
}

.xtra-small-font{
    font-size: $xtra-small-font;
    @include mediaquerie(320px){
        font-size: $small-font;
    }
}




